
<div class="col-md-6">
  <!-- general form elements -->
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">New Blog</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <% byebug %>
    <% url = is_create ? admin_events_path : admin_event_path %>
    <% data_method = is_create ? :post : :patch %>
    <%= simple_form_for(@event, url: url, method: data_method, html: {role: "form"}) do |f| %>
      <%= f.error_notification %>

      <div class="card-body">
        <div class="form-group">
          <%= f.input :title, input_html: { class: "form-control"} %>
        </div>

        <div class="form-group">
          <%= f.input :location, input_html: { class: "form-control" } %>
        </div>
        <div class="form-group">
          <%= f.input :start_date, as: :date,
                                   start_year: Date.today.year - 90, end_year: Date.today.year + 5, discard_day: false,
                              order: [:month, :year, :day], input_html: { class: "form-control col-sm-3 pull-left" },
                              label_html: { class: 'col-sm-3 pull-left' } %>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <%= f.input :end_date, as: :date,
                                   start_year: Date.today.year - 90, end_year: Date.today.year + 5, discard_day: false,
                              order: [:month, :year, :day], input_html: { class: "form-control col-sm-3 pull-left" },
                              label_html: { class: 'col-sm-3 pull-left' } %>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="card-footer">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>

    <% end %>
  </div>
</div>
